@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;600&display=swap');

/*Variables*/
:root{
  --primary-blue: #1D0D7C;
  --secondary-blue: #200AA9;
  --primary-white: #f0f0f0;
  --white-transparent: #f0f0f0c2;
  --primary-gray: #E3E3E3;
  --border-gray: #707070;
}

.App {
  text-align: center;
  padding: 20px 80px; 
  background-color: var(--primary-white);
  height: 100vh;
  font-family: 'Lexend', sans-serif;
  display: flex;
}

.wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;
}

/*Used to wrap main content of page*/
.wrapper > * {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 50px;
}

.header > span {
  font-weight: 600;
  font-size: 80px;
}

hr {width:100%}

.filter-button button:hover {
  background-color: transparent;
}

.filter-button img {
  filter: brightness(150%)
}

.filter-button img:hover {
  filter: brightness(0%)
}

button:hover {
  background-color: #1f0aa991; 
} 

span:nth-of-type(1){ 
  color: var(--secondary-blue);
}
span:nth-of-type(2){
  color:var(--primary-blue);
}

.documents {
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.search-bar {
  display: flex;
  width: 100%;
  align-items: center;
}

.search-bar>input {
  width: 60%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid var(--border-gray);
  padding: 0 10px;
  margin-right: 20px;
  background-color: var(--primary-gray);
}

.search-bar > img {
  height: 38px;
  width: auto;
}

.search-bar > button {
  top: 10px;
  right: 0px;
  width: 25%;
  background-color: var(--secondary-blue);
  color: white;
  border: 1px solid var(--border-gray);
  border-radius: 10px;
}

.filter-button button {
  border: 10px;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.document-container {
  width: 100%;
  flex: 1;
  flex-basis: 0;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 25px;
  background-color: var(--primary-gray);
  border: 1px solid var(--border-gray);
  border-radius: 15px;
  overflow-y: auto;
}

.document-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: var(--primary-white);
  border: 1px solid var(--border-gray);
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
}

.document-card > * {
  margin: 0 20px;
}
.document-card > p {
  flex: 1;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.date-view-container{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: flex-end;
}

.date-view-container > button {
  background-color: var(--secondary-blue);
  color: white;
  border: 1px solid var(--border-gray);
  border-radius: 20px;
  padding: 2px 20px;
}

.filter-panel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--white-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-panel {
  background-color: var(--primary-white);
  border: 1px solid var(--border-gray);
  width: 50vw;
  height: 80vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 35px 50px;
  position: relative;
}

.filter-panel > button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--secondary-blue);
  color: white;
  border: 1px solid var(--border-gray);
  border-radius: 10px;
}

.filter-panel > h1 {
  text-align: left;
  font-size: 35px;
  margin-bottom: 35px;
}

.filter-panel > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.filter-panel h2 {
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}

.filter-panel h3 {
  font-size: 24px;
  font-weight: 300;
  text-align: left;
}

.date-filters > .checkbox-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.date-filters > .checkbox-container > p {
  margin: 0 10px;
}

.date-filters > .range-inputs{
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0;
}
.range-inputs > div {
  margin-right: 30px;
}

.keyword-input-wrapper {
  display: flex;
  width: 100%;
}
.keyword-input-wrapper input {
  flex: 0 0 55%;
  margin-right: 10px;
}
.keyword-input-wrapper button {
  background-color: var(--secondary-blue);
  border-radius: 10px;
  color: white;
  padding: 2px 10px;
  border: 1px solid var(--border-gray);
}